table.table
  thead
    tr
      th Customer Name
      th Company
      th Phone Number
      th Email
      th Country
      th Status
  tbody
    if data.length 
      each item in data
        tr
          td= item.customerName
          td= item.company
          td= item.phoneNumber 
          td= item.email
          td= item.country 
          td= item.status
    else
      tr
        td(colspan="3") No data available
