doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet" href="css/main.css")
    link(rel="alternate", href="atom.xml", type="application/atom+xml", title="Atom")
  body
    .dashboard
      //- Sidebar
      aside.side-menu
        .logo
        picture
        img.logotype(src="img/logo.svg", alt="Logo")
        h1.dashboard-header Dashboard
        p.version-info v.01

        nav.menu
          ul.side
            li.menu-item
              img.menu-icon.key(src="img/key.svg", alt="key")
              a.menu-text(href="/dashboard") Dashboard
            li.menu-item
              img.menu-icon(src="img/square.svg", alt="Product")
              a.menu-text(href="/product") Product
              img.chevron-right(src="img/right.svg", alt="Product")
            li.menu-item.active
              img.menu-icon(src="img/user.svg", alt="Customers")
              a.menu-item-active(href="/customers") Customers
              img.side-right-active(src="img/active.svg", alt="Product")
            li.menu-item
              img.menu-icon(src="img/money.svg", alt="Income")
              a.menu-text(href="/income") Income
              img.chevron-right(src="img/right.svg", alt="Product")
            li.menu-item
              img.menu-icon(src="img/discount.svg", alt="Promote")
              a.menu-text(href="/promote") Promote
              img.chevron-right(src="img/right.svg", alt="Product")
            li.menu-item
              img.menu-icon(src="img/message.svg", alt="Message")
              a.menu-text(href="/help") Help
              img.chevron-right(src="img/right.svg", alt="Product")

    .profile-group
      img.profile-image(src="img/photo.svg", alt="User Image")
      .profile-info
        span.name Evano
        small.role Project Manager

      //- Main Content
    main.content
      
      h1.heder-info Hello Evano 👋
      
      .customers
        h2.customers-info All Customers
        a.active-content(href="#" role="button") Active Members
                          //- Search Input
                          .search-bar
                            img.search-icon(src="img/search.svg", alt="Search")
                            input(type="text" placeholder="Search" class="search-input")
                          
                          //- Table
                          table#entries-container.customers-table
                            thead
                              tr.hover-table
                                th Customer Name
                                th Company
                                th Phone Number
                                th Email
                                th Country
                                th.status Status
                            tbody
                              each entry in entries
                                tr.content-table
                                  td= entry.CustomerName
                                  td= entry.Company
                                  td= entry.PhoneNumber
                                  td= entry.Email
                                  td= entry.Country
                                  td.status(class=`status-${entry.Status.toLowerCase()}`)= entry.Status
                                                        //-   td Microsoft
                              //-   td (225) 555-0118
                              //-   td jane@microsoft.com
                              //-   td United States
                              //-   td.status.status-active Active
                              //- tr.content-table
                              //-   td Floyd Miles
                              //-   td Yahoo
                              //-   td (205) 555-0100
                              //-   td floyd@yahoo.com
                              //-   td Kiribati
                              //-   td.status.status-inactive Inactive
                              //- tr.content-table
                              //-   td Ronald Richards
                              //-   td Adobe
                              //-   td (302) 555-0107
                              //-   td ronald@adobe.com
                              //-   td Israel
                              //-   td.status.status-inactive Inactive
                              //- tr.content-table 
                              //-   td Marvin McKinney
                              //-   td Tesla
                              //-   td (252) 555-0126
                              //-   td marvin@tesla.com
                              //-   td Iran
                              //-   td.status.status-active Active
                              //- tr.content-table 
                              //-   td Jerome Bell
                              //-   td Google
                              //-   td (629) 555-0129
                              //-   td jerome@google.com
                              //-   td Réunion
                              //-   td.status.status-active Active
                              //- tr.content-table 
                              //-   td Kathryn Murphy
                              //-   td Microsoft
                              //-   td (406) 555-0120
                              //-   td kathryn@microsoft.com
                              //-   td Curaçao
                              //-   td.status.status-active Active
                              //- tr.content-table 
                              //-   td Jacob Jones
                              //-   td Yahoo
                              //-   td (208) 555-0112
                              //-   td jacob@yahoo.com
                              //-   td Brazil
                              //-   td.status.status-active Active
                              //- tr.content-table 
                              //-   td Kristin Watson
                              //-   td Facebook
                              //-   td (704) 555-0127
                              //-   td kristin@facebook.com
                              //-   td Åland Islands
                              //-   td.status.status-inactive Inactive
                              //- tr.content-table 
                              //-   td Fabio Watson
                              //-   td Facebook
                              //-   td (704) 555-0129
                              //-   td fabio@facebook.com
                              //-   td Åland Islands
                              //-   td.status.status-inactive Inactive
                              //- Add more rows as needed
        //- Pagination
        .pagination
        #pagination-info.pagination-text Showing data 1 to 8 of 256K entries
        img#prev-page.left-active(src="img/l.svg", alt="Previous page") 
        ul#pagination-list.pagination-list(aria-label="Pagination")
            li.page-item
              a(href="#") 1
            li.page-item
              a(href="#") 2
            li.page-item
              a(href="#") 3
            li.page-item
              a(href="#") 4
            li.page-item
              a(href="#") ...
            li.page-item
              a(href="#") 40
        img#next-page.pagination-right-active(src="img/r.svg", alt="Next page")

//- Форма для додавання нового клієнта
//- form#nuevo-cliente
//-   label(for="customerName") Customer Name
//-   input(type="text" id="customerName" required)
  
//-   label(for="company") Company
//-   input(type="text" id="company" required)
  
//-   label(for="phoneNumber") Phone Number
//-   input(type="text" id="phoneNumber" required)
  
//-   label(for="email") Email
//-   input(type="email" id="email" required)
  
//-   label(for="country") Country
//-   input(type="text" id="country" required)
  
//-   label(for="status") Status
//-   select(id="status")
//-     option(value="active") Active
//-     option(value="inactive") Inactive

//-   button(type="submit") Add Customer


script(type="module" src="/js/main.js")
